{% block footer %}
<footer class="black-wrapper">
  <div class="container box">
    <p class="pull-left">© 2013 Cristian Machado Ávila.</p>
    <ul class="social pull-right">
      <li><a target="_blank" href="http://twitter.com/cristianm_avila"><i class="icon-s-twitter"></i></a></li>
      <li><a target="_blank" href="https://www.facebook.com/cristianmachadoavila"><i class="icon-s-facebook"></i></a></li>
    </ul>
    <!--/.social --> 
  </div>
  <!--/.container --> 
</footer>
<!--/footer -->
{% endblock %} 