<header class="header default">
    <div class="container box">
      <div class="logo">
      	<a href="/inicial/"><img src="{{ MEDIA_URL }}style/images/logo.png" alt="" /></a> 
      </div>
      <nav id="menu" class="menu">
        <ul id="tiny">
          <li class="active"><a href="/inicial/">Inicial</a></li>
          <li><a href="/sobre/">Sobre</a></li>
          <li><a href="/contato/">Contato</a></li>
        </ul>
      </nav>
      <!-- /.menu -->
    </div>
    <!-- /.container --> 
  </header>
  <!--/header-->