{% extends 'base.html' %}

{% block title %} Enviado com sucesso {% endblock %}

{% block content %}
  <div class="top-space"></div>
  <div class="primary">
    <div class="light-wrapper box">
      <div class="container">
        <div class="row">
          <div class="span8">
            <h2>Contato</h2>
            <p>Prencha os campos abaixo para entrar em contato, se você tem um ideia de sistema ou aplicativo mobile, envie a sua idéia talvez possamos formar uma parceria, caso o projeto tenha um bom potencial.</p>
            <div class="divide20"></div>
            <div class="form-container">
              <div class="response alert alert-success">
              	Mensagem enviada com sucesso!
              </div>
            </div>
            <!-- /.form-container --> 
          </div>
          <!-- /.span8 -->
          <aside class="span4 sidebar lp20">
            <div class="sidebox widget">
              <h3>Dados de contato</h3>
              <p></p>
              <address>
              <strong>Cristian</strong><br>
              <abbr title="Phone">Telefone:</abbr> (51) 9818.8879 <br>
              <abbr title="Email">E-mail:</abbr> <a href="mailto:#">cristianmachadoavila@gmail.com</a>
              </address>
            </div>
            <!-- /.widget --> 
          </aside>
          <!-- /.span4 --> 
        </div>
        <!-- /.row --> 
        
      </div>
      <!-- /.container --> 
    </div>
    <!-- /.light-wrapper --> 
  </div>
  <!--/.primary-->
  <div class="push"></div>
{% endblock %}
