{% extends 'base.html' %}

{% block title %} Sobre {% endblock %}

{% block content %}
  <div class="top-space"></div>
  <div class="primary">
    <div class="light-wrapper box">
      <div class="container">
        <h1 class="page-title">Sobre</h1>
        <p class="lead">Meu Nome é Cristian Machado Ávila tenho 26 anos, sou natural de Viamão. Tenho facilidade de trabalhar em grupo, bom conhecimento em programação e sou muito criativo. Lido muito bem com novos desafios e estou sempre em busca de novos conhecimentos em minha área.</p>
        <div class="divide10"></div>

        <h3>Experiência</h3>
        <p class="lead">Atualmente trabalho com desenvolvimento de sites com CMS, portais, sistemas de gerenciamento interno, aplicativos do facebook e aplicativos mobile na <a target="_blank" href="http://www.hiperagencia.com">hiperagencia.com</a>, aonde já estou trabalhando a quase dois anos.</p>
        <div class="divide10"></div>
        
        
        
        <div class="row">
          <!-- /.span6 -->
          <div class="span6">
            <h4>Habilidades</h4>
            <p>Segue uma lista de ténicas utilizadades no meu dia a dia! ;)</p>
            <ul class="progress-list">
              <li>
                <p>CSS/HTML <em>98%</em></p>
                <div class="progress plain">
                  <div class="bar" style="width: 98%;"></div>
                </div>
              </li>
              <li>
                <p>Arquitetura da informação <em>96%</em></p>
                <div class="progress plain">
                  <div class="bar" style="width: 96%;"></div>
                </div>
              </li>
              <li>
                <p>PHP <em>95%</em></p>
                <div class="progress plain">
                  <div class="bar" style="width: 95%;"></div>
                </div>
              </li>
              <li>
                <p>Mysql <em>87%</em></p>
                <div class="progress plain">
                  <div class="bar" style="width: 87%;"></div>
                </div>
              </li>
              
               <li>
                <p>jQuery <em>83%</em></p>
                <div class="progress plain">
                  <div class="bar" style="width: 83%;"></div>
                </div>
              </li>
              
              <li>
                <p>Design <em>79%</em></p>
                <div class="progress plain">
                  <div class="bar" style="width: 79%;"></div>
                </div>
              </li>
              
              <li>
                <p>Django <em>70%</em></p>
                <div class="progress plain">
                  <div class="bar" style="width: 70%;"></div>
                </div>
              </li>
              <li>
                <p>SEO <em>50%</em></p>
                <div class="progress plain">
                  <div class="bar" style="width: 50%;"></div>
                </div>
              </li>
            </ul>
            
            <!-- /.progress-bar --> 
          </div>
          <!-- /.span6 --> 
        </div>
        <!-- /.row -->
        
         
        
      </div>
      <!-- /.container --> 
    </div>
    <!-- /.light-wrapper --> 
  </div>
  <!--/.primary-->
  <div class="push"></div>
  
{% endblock %}
