{% extends 'base.html' %}

{% block title %} Sobre {% endblock %}

{% block content %}

<div id="main" class="wrap group post">
	<div class="sidewrap group">
		<h3>Sobre ;)<span><a href="/contato/">Contato &#10142;</a></span></h3>
		<div class="one-third">
			<h4>Quem sou</h4>
			<p>25 anos, sou natural de Viamão. Tenho facilidade de trabalhar em grupo, bom conhecimento em programação e sou muito criativo. Lido muito bem com novos desafios e estou sempre em busca de novos conhecimentos em minha área.</p>
		</div>
		
		<div class="one-third">
			<h4>O que eu já desenvolvi</h4>
			<p>
				&ndash; Sistema Web<br />
				&ndash; Portal<br />
				&ndash; Site responsivo<br />
				&ndash; Site mobile<br />
				&ndash; Aplicativo Facebook<br />
				&ndash; ERP<br />
			</p>
		</div>
		
		<div class="one-third last">
			<h4>Especialidades</h4>
			<p>
				&ndash; PHP<br />
				&ndash; Django<br />
				&ndash; HTML5<br />
				&ndash; CSS3<br />
				&ndash; Jquery<br />
				&ndash; SQL<br />
				&ndash; Javascript<br />
				&ndash; AS2<br />
				&ndash; AS3<br />	
				&ndash; MXML (FLEX)
			</p>
		</div>
	</div>
</div>    
{% endblock %}
