{% extends 'base.html' %}

{% block title %} Contato enviado com sucesso {% endblock %}

{% block content %}
<div id="main" class="wrap group post">
  
  <div class="clear"></div>
  <div class="one-fourth mobile-centred">
    <h3>Telefone / E-mail</h3>
    <ol class="list">
      <li>T: <a href="tel:+number">+55 (51) 9818.8879</a></li>
      <li>E: <a href="mailto:cristianmachadoavila@gmail.com">cristianmachadoavila@gmail.com</a></li>
    </ol>
  </div>
  

  <div class="one-half content">
  	<h3>Contato<span></span></h3>
    <div class="columned">
      <p>Dados enviados com sucesso, breve entrarei em contato.</p>
    </div>
  </div>
</div>
{% endblock %}
